{% extends 'base.html' %}

{% block title %}
    <title>Edit-Task Mate</title>
{% endblock title %}

{% block content %}  
    <div>
        <div class = "container">
        {% if task_obj.manage == request.user %}
                <form method= "POST" class ="row">
                    {% csrf_token %}
                    <label class="col-lg-4"></label>
                    <input type = "text" class="form-control col-lg-6" name="task" placeholder="{{tas_obj.task}}" value="{{task_obj.task}}">
                    <input type = "hidden" class="form-control col-lg-6" name="done" value="{{task_obj.done}}">
                    <button type="submit" class="btn btn-primary mb-5">Submit</button>
                </form>
      {% else %}
      <p>Access Restricted</p>
      {% endif %}
      </div>
{% endblock content %}